
/* PERTAINS TO ALL PAGES */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 25px;
  min-height: 5vh;
  background-color:rgb(78, 139, 252);
  opacity: .6;
}

.logo {
  color:white;
  letter-spacing: 5px;
  font-size: 15px;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  width: 70%;
  justify-content: space-around; 
}
.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 14px;
  font-weight: bold;
}

.nav-links li {
  list-style: none;
}

.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 2px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}


nav a:hover {
	background: rgb(9, 65, 170);
}

body {
  font-family: 'Lato', sans-serif;
}

p, li {
   font-size: 19px;
}

#page-description > ul > li {
  list-style-position: inside;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 65px;
  color: rgb(0, 8, 0);
  text-shadow: 0 0 3px rgb(78, 139, 252);
}

canvas {
  width: 100%;
  height: 100%;
}

#index-body {
  background-size: cover;
  background-position: 0 0;
  background-attachment: fixed;
  background-image: url(https://images.unsplash.com/photo-1426604966848-d7adac402bff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80);
}
/* INDEX PAGE */

#description-login {
  padding: 10px;
  margin: 5px;
  font-weight: bolder;
  font-size: 20px;
  color: rgb(0, 8, 0);
  text-shadow: 3px 0 15px black, 0 0px 9px rgb(78, 139, 252), 0px 0 4px rgb(78, 139, 252), 0 0px 15px rgb(0, 8, 0);
}

#login-forms {
  font-size: 28px;
}

/* PARKS PAGE */
#parks-body {
  background-size: cover;
  background-position: 0 0;
  background-attachment: fixed;
  background-image: url(https://images.unsplash.com/photo-1573611173195-941c9c89b2ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2590&q=80);
}
 h2 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: rgb(0, 8, 0);
  text-shadow: 0 0 3px rgb(78, 139, 252);
 }

#add-park {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: 39%;
  font-size: 30px;
}
#park-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
    height: 100%;
    margin: 5px;
    text-align: center;
    margin: auto;
}
#park-card {
    width: 33.33%;
    padding: 3.5%;
    justify-content: center;
}
/* PARK CARD LINKS */
#park-card a {
    color: rgb(0, 8, 0);
    text-shadow: -1px 0 20px rgb(241, 135, 27), 0 1px 20px rgb(224, 132, 38), 1px 0 11px rgb(224, 132, 38), 0 -1px black;
    text-decoration: none;
    font-size: 25px;
    font-weight: 1100;
}

#park-card a:visited {
  color: rgb(0, 0, 0);
}

#park-card a:hover {
  background: rgba(43, 199, 238, 0.103); 
  color: rgb(238, 161, 59);
}

#park-card a:active {
  color: rgb(255, 255, 255);
}



#description-login {
  display: flex;
  width: 100%;
}

#page-description {
  width: 40%;
  text-align: justify;
  padding: 1rem;
  background-color: #00000070;
  color: rgba(255, 255, 255, 0.603);
  border-radius: 3rem;
}

#login-forms {
  width: 60%;
  padding: 1rem;
  margin: auto;
  text-align: center;
  
}
input {
  text-align: center;
  /* background-color: #e7c376; */
  border-radius: 6px;
  width: 20%;
  margin: .5rem;
  color: black;
}


#update-username > input {
  width: 15%;
  border-radius: 6px;
}

#new-user {
  padding-bottom: 1rem;
  border-radius: 6px;
}

#login {
  border-radius: 6px;
}

button {
  border-radius: 6px;
  /* background-color: #e7c376; */
}

button a {
  text-decoration: none;
  color: inherit;
}

#alerts-body {
  background-size: cover;
  background-position: 0 0;
  background-attachment: fixed;
  background-image: url(https://images.unsplash.com/photo-1468682958800-5a3a4ede03a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2625&q=80);
}
#all-alerts-body {
  background-size: cover;
  background-position: 0 0;
  background-attachment: fixed;
  background-image: url(https://images.unsplash.com/photo-1588202449605-ef3be60276c1?ixlib=rb-1.2.1&auto=format&fit=crop&w=2167&q=80);
}

#show-body {
  background-size: cover;
  background-position: 0 0;
  background-attachment: fixed;
  background-image: url(https://images.unsplash.com/photo-1571076373597-04011a79c0e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2551&q=80);
}

#show-card {
  color: rgba(255, 255, 255, 0.603);
  background-color: #00000070;
  border-radius: 10px;
  font-weight: bolder;
  text-shadow: 0 0 3px rgb(78, 139, 252);
  width: 90%;
  margin: auto;
  padding: 1rem;
  line-height: 3rem;
  text-align: justify;
}
#show-card > p {
  line-height: 2.2rem;
  font-size: initial;
}
#alert-card {
  color: rgba(255, 255, 255, 0.603);
  background-color: #00000070;
  border-radius: 10px;
  font-weight: bolder;
  text-shadow: 0 0 3px rgb(78, 139, 252);
  font-size: 29px;
  padding: 1.5rem;
  width: 90%;
  margin: auto;
  padding: 1rem;
  line-height: 3rem;
  text-align: justify;
}
#alert-card > p {
  font-size: initial;
}
#show-card > h3 {
  font-size: 30px;
  text-align: center;
}

#user-profile-body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-size: 20pt;
    font-weight: normal;
    
    background: -webkit-linear-gradient(
    -180deg,
    lightblue,
    rgb(16, 96, 143)
  );
}

#update-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: 39%;
  font-size: 30px;
}

@media screen and (max-width: 1024px) {
    .nav-links {
      width: 60%;
    }
}

@media screen and (max-width: 768px) {
  
  body {
    overflow: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 5vh;
    background-color:rgb(78, 139, 252);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }

  .nav-active{
  transform: translateX(0);
  }

  @keyframes navLinkFade {
    from{
      opacity: 0;
      transform: translateX(50);
    }
    to{
      opacity: 1;
      transform: translateX(0);
    }
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  #description-login {
    display: flex;
    flex-direction: column-reverse;
    width: 88%;
    text-align: justify;
    justify-content: center;
  } 
  
  h1, h2, #add-park {
    width: 85%;
    font-size: 2em;
  }

  #login-forms input {
    width: 8rem;
  }

  #page-description {
    margin: auto;
    width: 100%;
    font-size: 10px;
  }

  #park-card a {
    color: rgb(0, 8, 0);
    text-shadow: -1px 0 20px rgb(241, 135, 27), 0 1px 20px rgb(224, 132, 38), 1px 0 11px rgb(224, 132, 38), 0 -1px black;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 1100;
  }

  #add-park input {
    margin: .2rem;
    padding: .02rem;
    width: 8rem;
}
}
