/* body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-size: 20pt;
    font-weight: normal;
    
    background: -webkit-linear-gradient(
    -180deg,
    lightblue,
    rgb(223, 166, 92)
  );
} */

* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  height: 100%;
}

nav a {
	float: left;
	width: 50%;
	text-align: center;
	background: black;
	font-weight: bold;
	text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}
#parks-nav a {
  float: left;
	width: 33.33%;
	text-align: center;
	background: black;
	font-weight: bold;
	text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}

nav a:hover {
	background: #ffffff;
}

h1 {
  text-align: center;
  text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px 
}
#park-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
    height: 100%;
    margin: 5px;
    text-align: center;
    margin: auto;
}
#park-card {
    width: 20%;
    
    padding: 3.5%;
    justify-content: center;
}


p, li {
  /* text-shadow: 0px 0px 10px rgb(224, 132, 38); */
  font-size: large;
  text-shadow: -1px 0 8px rgb(224, 132, 38), 0 1px 8px rgb(148, 88, 27), 1px 0 5px; 
}

html {
  background-size: cover;
  background-position: 0 0;
  background-attachment: fixed;
  background-image: url(https://images.unsplash.com/photo-1580130718810-358e5e8af61b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1372&q=80);
}

#description-login {
  display: flex;
  width: 100%;
}

#page-description {
  width: 40%;
  text-align: justify;
  padding: 1rem;
}

#login-forms {
  width: 60%;
  padding: 1rem;
  margin: auto;
  text-align: center;
  
}
input {
  border-radius: 6px;
  width: 20%;
  margin: .5rem;
}

#update-username > input {
  width: 15%;
  border-radius: 6px;
}

#new-user {
  padding-bottom: 1rem;
  border-radius: 6px;
}

#login {
  border-radius: 6px;
}

button {
  border-radius: 6px;
  /* width: 40%; */
  /* margin: .5rem; */
}

button a {
  text-decoration: none;
  color: inherit;
}

